*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Helvetica;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(65deg,rgb(19, 7, 31), rgba(7, 17, 27, 0.904), #222 );
}

/*blueviolet  rgba(23, 43, 70, 0.904)*/

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    width: 100%;
}

.img{
    margin: 20px 0px 10px 0px;
}

span{
   
    margin-bottom: 20px;
}


.links{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.links a{
    width: 40%;
    height: 50px;
    background-color: #ffffff1a;
    margin-bottom: 15px;
    transition: .5s ease all;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid #ffffff49;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.links a:hover{
    background-color: #ffffff49;
}

.footer, .social-media{
    margin-top: 40px;
}

.footer{
    margin-bottom: 20px;
}

.social-media{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  

}

.social-media a{
    font-size: 1.2rem;
    text-decoration: none;
}
/* CHECK*/

input[type = "checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check{
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
    border: 1.9px solid #ffffff49;  
}
i{
    padding-top: 1px;
}


@media screen and (max-width: 1366px){
    .links a{

        width: 48%;
    }

    .social-media {
        width: 22%;
    }
}


@media screen and (max-width: 1024px){
    .links a{

        width: 55%;
    }

    .social-media {
        width: 25%;
    }
}


@media screen and (max-width: 960px){
    .links a{

        width: 55%;
    }

    .social-media {
        width: 25%;
    }
}


@media screen and (max-width: 640px){
    .links a{

        width: 60%;
    }

    .social-media {
        width: 38%;
    }
}

@media screen and (max-width: 430px){
    .links a{

        width: 70%;
    }

    .social-media {
        width: 45%;
    }
}

@media screen and (max-width: 400px){
    .links a, .footer p{
        font-size: 12px;
    }
}

@media screen and (max-width: 320px){
    .links a{

        width: 70%;
    }

    .social-media {
        width: 65%;
    }
}



